@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: Lato, sans-serif;
    color: #333;
    line-height: 1.6;
}

ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: #333;
}
h1, h2{
    font-weight: 400;
    line-height: 1.2;
    margin: 10px 0;
}
p{
    margin: 10px 0;
}
img{
    border-radius: 50%;
}
.navbar{
    background-color: rgb(245, 216, 154);
    height: 90px;
    box-shadow: 0 10px 100px rgba(0, 0, 0, 0.1);
}
.navbar li{
    width: 100%;
    text-align: center;
    position: relative;
}
.navbar li:hover .dropdown > li{
    display: block;
    top: 5px;
}
.dropdown li{
    display: none;
    position: absolute;
    top: 50px;
}
.dropdown{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
}
.dropdown li{
    position: relative;
}
.navbar ul{
    display: flex;
    list-style: none;
}
.navbar a{
    padding: 10px;
    margin: 0 10px;
    position: block;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    transition: background 0.4s;
}
.navbar a:hover{
    background-color: rgb(203, 203, 175);
    border-bottom: 3px solid #d7aa65;
}
.navbar .flex{
    justify-content: space-between;
}
.container{
    max-width: 2000px;
    margin: 0 auto;
    padding: 0 40px;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.showcase{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(CafeBackground.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-grid{
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 150px;
    margin: 20px 0;

}
.showcase-image1,
.showcase-image2,
.showcase-image3 {
  position: relative;
  overflow: hidden;
}

.showcase-image1:hover,
.showcase-image2:hover,
.showcase-image3:hover {
  transform: translateY(-5px);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.showcase-image1 a,
.showcase-image2 a,
.showcase-image3 a {
  display: block;
  text-decoration: none;
  color: inherit;
}

/* CSS for larger screens */
.grid-container .item1, .grid-container .item2, .grid-container .item3 {
    margin-left: 300px;
    margin-right: 300px;
}

/* CSS for screens less than 800px wide */
@media (max-width: 800px) {
    .grid-container .item1, .grid-container .item2, .grid-container .item3 {
        margin-left: 50px;
        margin-right: 50px;
    }
}

/* CSS for screens less than 500px wide */
@media (max-width: 500px) {
    .grid-container .item1, .grid-container .item2, .grid-container .item3 {
        margin-left: 20px;
        margin-right: 20px;
    }
}